:root {
    color-scheme: light dark;
}

#panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 100px;
    gap: 8px;
    padding-inline-start: 0;
    list-style: none;

    button {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: none;
        padding: 8px;
        border-radius: 4px;
        text-align: left;
        cursor: pointer;

        &.playing {
            background-color: #4c7faf;
            color: white;
        }

        &#stop {
            background-color: #af4c4c;
            color: white;
        }

        > * {
            margin: 0;
        }

        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        h2 {
            font-size: 1.2em;
        }

        div, p {
            display: flex;
            align-items: center;
        }
        
        .title {
            height: 24px;
        }

        .station-name {
            height: 20px;
            font-size: 0.9em;
        }

        .time {
            margin-block-start: auto;
            align-self: flex-end;
            font-size: 0.8em;
        }
    }
}