img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;

    > * {
        margin: 0;
    }
}

#panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-auto-rows: 120px;
    place-content: center;
    gap: 8px;
    min-height: calc(100vh - (8px + 90px) * 2);
    padding-inline-start: 0;
    list-style: none;

    button {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: none;
        padding: 8px;
        border-radius: 4px;
        text-align: left;
        cursor: pointer;

        &.playing {
            background-color: #4c7faf;
            color: white;
        }

        &#stop {
            background-color: #af4c4c;
            color: white;
        }

        > * {
            margin: 0;
        }

        span {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        h2 {
            font-size: 1.2em;
        }

        div, p {
            display: flex;
            align-items: center;
        }

        .title {
            height: 24px;
        }

        .station-name {
            height: 20px;
            font-size: 0.8em;
        }

        .time {
            margin-block-start: auto;
            align-self: flex-end;
            font-size: 0.8em;
        }
    }
}

#now-playing[open] {
    display: flex;
    gap: 16px;
    width: 660px;
    border: solid;

    > p {
        flex-shrink: 0;
    }

    > div {
        flex-grow: 1;
    }

    @media (width < 480px) {
        display: block;
    }
}

#media-image {
    display: block;
    width: 240px;
    height: auto;
}

#media-title {
    font-size: 1.5em;
    font-weight: bold;
}

#media-station {
    font-weight: bold;
}

#media-time {
    font-size: 0.8em;
}

.media-controls {
    text-align: right;
}

#details-dialog {
    scrollbar-gutter: stable both-edges;
}

#details {
    max-width: 480px;
}

#close-details {
    width: 100%;
}

footer {
    @media (width < 768px) {
        font-size: 0.8em;
    }
}

:root[data-show-footer="0"] footer {
    display: none;
}
